<html>
<head>
<<<<<<< HEAD
  <title>Lab</title>

=======
  <title>Outil identification</title>
>>>>>>> develop
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/all.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <script src="/js/jquery.js"></script>
  <script src="/js/core.js"></script>
  <script src="/js/bootstrap.min.js"></script>
<<<<<<< HEAD
</head>

<body ng-app="lab" ng-controller="ctrl">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#"><i class="fas fa-flask"></i> Dev lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-class="{active: mode===4}">
          <a class="nav-link" ng-click="changeMode(4)"><i class="fas fa-images"></i> Résultats</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===2}">
          <a class="nav-link" ng-click="changeMode(2)"><i class="fas fa-images"></i> Exploit</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===1}">
          <a class="nav-link" ng-click="changeMode(1)"><i class="fas fa-video"></i> Record</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===3}">
          <a class="nav-link" ng-click="changeMode(3)"><i class="fas fa-map-marker"></i> Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/phpmyadmin/db_structure.php?server=1&db=user1"><i class="fas fa-database"></i> phpMyAdmin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="c()"><i class="fas fa-terminal"></i> console </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="filterWindow()"><i class="fas fa-terminal"></i> filterWindow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="finalScore()"><i class="fas fa-terminal"></i> finalScore</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">

    <!-- MODE RESULTS -->
    <div class="row" ng-show="mode===4">
      <select class="form-control" id="chooseEventsList" ng-model="addEvent.eventslist">
        <option ng-repeat="el in eventsList" value="{{ el.id }}">{{ el.name }}</option>
      </select>
    </div>

    <!-- MODE RECORD -->
    <div class="row" ng-show="mode===1">
      <!-- settings -->
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <form>
              <div class="form-group">
                <label for="qty">Snapshot quantity</label>
                <input type="number" class="form-control" id="qty" ng-model="qty" ng-disabled="onProgress">
              </div>
              <div class="form-group">
                <label for="interval">Interval (seconds)</label>
                <input type="number" class="form-control" id="interval" ng-model='interval' ng-disabled="onProgress">
              </div>
              <div class="form-group">
                <label for="duration">Estimate duration (minutes)</label>
                <input type="number" class="form-control-plaintext" id="duration" value="{{ (qty * interval) / 60 | number:1 }}" readonly>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- progression -->
      <div class="col">
        <div class="card w-100" ng-class="{'bg-dark text-white': onProgress}">
          <div class="card-body">
            <h5 class="card-title">Record</h5>
            <p class="card-text" ng-show="onProgress">Last snapshot : <p class="text-monospace" ng-show="onProgress">{{ date }}</p></p>
            <div class="figure" ng-show="onProgress">
              <img src="images/img{{ imageName }}.jpg" class="mx-auto figure-img img-fluid rounded slider" style="max-height: 200px;"/>
              <figcaption class="figcaption"><h5>{{ index+1 }}</h5>Image img{{ imageName }}.jpg</figcaption>
            </div>
            <button type="button" class="btn btn-success" ng-click="start(qty, interval)" ng-disabled="!qty || !interval || qty + interval <= 0"><i class="fas fa-play"></i> start</button>
            <button type="button" class="btn btn-danger" ng-click="stop()" ng-disabled="!onProgress"><i class="fas fa-hand-paper"></i> stop</button>
          </div>
          <div class="card-footer text-muted" ng-show="onProgress">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" ng-class="{'progress-bar-animated': onProgress}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">{{ image }} / {{ qty }}</div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / MODE RECORD -->




    <!-- MODE EXPLOIT -->
    <div class="row" ng-show="mode===2">
      <!-- List of signals -->
      <div class="col-3">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Tag to add <small>({{ searchTag.length || 0 }})</small></th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2"><input type="text" placeholder="filter" ng-model="searchTag" ng-keyup="validFilter($event)"/></td>
            </tr>
            <tr ng-repeat="t in filteredTags = (tags | filter:searchTag | filter:{ visible: false } | limitTo:5)">
              <td>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, false)"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, true)" ng-if="!ref"><i class="far fa-star"></i></button>
                  <button type="button" class="btn btn-outline-success btn-sm" ng-click="derive(t)"><i class="fas fa-signature"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
=======


</head>

<body ng-app="lab" ng-controller="ctrl" ng-keyup="keyup($event)">

  <div class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" ng-click="changeMode(0)"><i class="fas fa-flask"></i> Outil d'identification</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" ng-class="{active: mode===1}">
            <a class="nav-link" ng-click="changeMode(1)"><i class="fas fa-video"></i> Enregistrement</a>
          </li>
          <li class="nav-item" ng-class="{active: mode===3}">
            <a class="nav-link" ng-click="changeMode(3)"><i class="fas fa-map-marker"></i> Déclaration</a>
          </li>
          <li class="nav-item" ng-class="{active: mode===4}">
            <a class="nav-link" ng-click="changeMode(4)"><i class="fas fa-images"></i> Analyse</a>
          </li>
          <li class="nav-item" ng-class="{active: mode===5}">
            <a class="nav-link" ng-click="changeMode(5)"><i class="fas fa-check-circle"></i> Sélection</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2">
          <li class="nav-item" ng-class="{active: mode===2}">
            <a class="nav-link" ng-click="changeMode(2)"><i class="fas fa-toolbox"></i> Boîte à outils</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost/phpmyadmin/db_structure.php?server=1&db=user1"><i class="fas fa-database"></i> Base de donnée</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="c()"><i class="fas fa-terminal"></i></a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" ng-click="filterWindow()"><i class="fas fa-terminal"></i> filterWindow</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" ng-click="finalScore()"><i class="fas fa-terminal"></i> finalScore</a>
      </li> -->
    </ul>
  </div>
</nav>
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center" ng-show="mode===0">
    <div class="col">
      <h1 class="text-center" ng-click="changeMode(1)"><i class="fas fa-video"></i></h1>
      <h1 class="text-center" ng-click="changeMode(1)">Enregistrement</h1>
      <h2 class="text-center text-primary"><i class="fas fa-angle-down"></i></h2>
      <h1 class="text-center" ng-click="changeMode(3)"><i class="fas fa-map-marker"></i></h1>
      <h1 class="text-center" ng-click="changeMode(3)">Déclaration</h1>
      <h2 class="text-center text-primary"><i class="fas fa-angle-down"></i></h2>
      <h1 class="text-center" ng-click="changeMode(4)"><i class="fas fa-images"></i></h1>
      <h1 class="text-center" ng-click="changeMode(4)">Analyse</h1>
      <h2 class="text-center text-primary"><i class="fas fa-angle-down"></i></h2>
      <h1 class="text-center" ng-click="changeMode(5)"><i class="fas fa-check-circle"></i></h1>
      <h1 class="text-center" ng-click="changeMode(5)">Sélection</h1>
    </div>
  </div>

  <!-- MODE RECORD -->
  <div class="row" ng-show="mode===1">
    <!-- settings -->
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Paramètres</h5>
          <form>
            <div class="form-group">
              <label for="qty">Quantité de prises de vue</label>
              <input type="number" class="form-control" id="qty" ng-model="qty" ng-disabled="onProgress">
            </div>
            <div class="form-group">
              <label for="interval">Intervale entre chaque prise de vue (secondes)</label>
              <input type="number" class="form-control" id="interval" ng-model='interval' ng-disabled="onProgress">
            </div>
            <div class="form-group">
              <label for="duration">Durée de l'enregistrement (minutes)</label>
              <input type="number" class="form-control-plaintext" id="duration" value="{{ (qty * interval) / 60 | number:1 }}" readonly>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- progression -->
    <div class="col">
      <div class="card w-100" ng-class="{'bg-dark text-white': onProgress}">
        <!-- <img class="card-img-top" ng-show="imageName > 0" src="images/img{{ imageName }}.jpg"> -->
        <div class="card-body">
          <h5 class="card-title">Enregistrement</h5>
          <p class="card-text" ng-show="onProgress">Dernière prise de vue : <p class="text-monospace" ng-show="onProgress">{{ date }}</p></p>
          <div class="figure" ng-show="onProgress">
            <img src="images/img{{ imageName }}.jpg" class="mx-auto figure-img img-fluid rounded slider" style="max-height: 200px;"/>
            <figcaption class="figcaption"><h5>{{ index+1 }}</h5>Image img{{ imageName }}.jpg</figcaption>
          </div>
          <button type="button" class="btn btn-success" ng-click="start(qty, interval)" ng-disabled="!qty || !interval || qty + interval <= 0"><i class="fas fa-play"></i> Démarrer</button>
          <button type="button" class="btn btn-danger" ng-click="stop()" ng-disabled="!onProgress"><i class="fas fa-hand-paper"></i> Arrêter</button>
        </div>
        <div class="card-footer text-muted" ng-show="onProgress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped" ng-class="{'progress-bar-animated': onProgress}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">{{ image }} / {{ qty }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- MODE EXPLOIT -->
  <div class="row" ng-show="mode===2">
    <!-- List of signals -->
    <div class="col-3">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Liste des variables <small>({{ searchTag.length || 0 }})</small></th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><input type="text" placeholder="filtrer" ng-model="searchTag" ng-keyup="validFilter($event)"/></td>
          </tr>
          <tr ng-repeat="t in filteredTags = (tags | filter:searchTag | filter:{ visible: false } | limitTo:5)">
            <td>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, false)" title="Afficher sur le graphique"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, true)" ng-if="!ref" title="Afficher sur le graphique comme référence (sans la valeur)"><i class="far fa-star"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="derive(t)" title="Afficher la dérivée sur signal sur le graphique"><i class="fas fa-signature"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="wordtobits(t.name)" title="Extraire les bits du mot"><i class="fas fa-expand-arrows-alt"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Variables affichées</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><input type="text" placeholder="filtrer" ng-model="searchTagVisible" /></td>
          </tr>
          <tr ng-repeat="t in tags | filter:searchTagVisible | filter:{ visible: true } | limitTo:5">
            <td ng-style="{ 'color': t.color || 'black' }"><i class="fas fa-star" ng-show="t.ref"></i>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="del(t)" title="Supprimer du graphique"><i class="far fa-eye-slash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <div class="figure">
        <img  id="detailImage" ng-if="img.y > 0" src="images/img{{ img.y }}.jpg" class="figure-img img-fluid rounded">
        <figcaption class="figcaption">Image img{{ img.y }}.jpg --- {{ tsClicked }}</figcaption>
      </div>
    </div>

    <div class="col-3">
      <h5>Liste des types d'événements</h5>
      <table class="table table-sm">
        <tr ng-repeat="e in eventsList">
          <td>{{ e.name }}</td>
          <!-- <td><span class="badge badge-primary">{{ e.type }}</span></td> -->
          <td>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-success btn-sm" ng-click="addEventToGraph(e)" title="Tracer les événements sur le graphique"><i class="far fa-eye"></i></button>
                <button class="btn btn-outline-success btn-sm" ng-click="createMask(e, offset)" title="Ajouter fenêtres temporelles"><i class="fas fa-flask"></i></button>
              </div>
              <input type="number" class="form-control" ng-model="offset" value="1" min="0">
            </div>
          </td>
        </tr>
      </table>
    </div>

  </div>
>>>>>>> develop

  <!-- Graph -->
  <div class="row" ng-show="mode===2">
    <!-- Graph -->
    <div class="col">
      <div id="container"></div>
    </div>
  </div>

  <!--MODE ANALYSE  -->
  <div class="row justify-content-md-center" ng-show="mode===4">
    <div class="col-3">
      <h5>Liste des types d'événements</h5>
      <table class="table table-sm">
        <tr ng-repeat="e in eventsList" ng-style="{'font-weight' :  e.id === windows.ref.id ? 'bold' : 'normal'}">
          <td>{{ e.name }}</td>
          <td>
            <button class="btn btn-outline-success btn-sm" ng-click="executeAnalyse(e)" title="Ajouter fenêtres temporelles"><i class="fas fa-flask"></i> Lancer l'analyse</button>
          </td>
        </tr>
      </table>
      <h4>Paramètres</h4>
      <div class="form-group">
        <label for="filtrageStart">Début</label>
        <input type="text" class="form-control form-control-sm" ng-model="filtrageStart">
      </div>
      <div class="form-group">
        <label for="filtrageEnd">Fin</label>
        <input type="text" class="form-control form-control-sm" ng-model="filtrageEnd">
      </div>
      <div class="form-group">
        <label for="tau">Tau (largeur fenêtre)</label>
        <input type="number" step="1" min="0" max="100" class="form-control form-control-sm" ng-model="tau">
      </div>
      <button ng-click="updateImagesRef({ start: filtrageStart, end: filtrageEnd })" class="btn btn-primary btn-sm">Appliquer</button>
    </div>
    <div class="col align-self-center">
      <h2 class="text-center text-primary"><i class="fas fa-angle-right"></i></h2>
    </div>
    <div class="col-8">
      <h5>Résultats {{ windows.ref.name }}</h5>
      <div ng-show="analyze > 0 && analyze < 100">
        <h4>Analyse en cours <i class="fas fa-spinner fa-spin"></i></h4>
        <div class="alert alert-info" role="alert" ng-show="analyze===10">Création des fenêtres</div>
        <div class="alert alert-info" role="alert" ng-show="analyze===20">Filtrage des signaux</div>
        <div class="alert alert-info" role="alert" ng-show="analyze===30">Calcul des scores</div>
      </div>
      <div ng-show="analyze===100">
        <p>Le score doit tendre vers 0.<!--<a href="#" ng-click="removeZeroSignals()"> Supprimer les signaux qui n'évoluent pas.</a>--></p>
        <table class="table table-sm table-hover">
          <caption ng-init="resultLimit=10">Résultats à afficher : <a href="#" ng-click="resultLimit=10">10</a> - <a href="#" ng-click="resultLimit=50">50</a> - <a href="#" ng-click="resultLimit=null">Tout</a> </caption>
          <thead>
            <tr>
<<<<<<< HEAD
              <th scope="col">Tag added</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2"><input type="text" placeholder="filter" ng-model="searchTagVisible" /></td>
            </tr>
            <tr ng-repeat="t in tags | filter:searchTagVisible | filter:{ visible: true } | limitTo:5">
              <td ng-style="{ 'color': t.color || 'black' }"><i class="fas fa-star" ng-show="t.ref"></i>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-danger btn-sm" ng-click="del(t)"><i class="far fa-eye-slash"></i></button>
=======
              <th>#</th>
              <th><p ng-click="sortBy('name')">Variables <small>({{ windows.resultFinal.length }})</small> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" ng-show="propertyName === 'name'"></i></p></th>
              <th><p ng-click="sortBy('score')">Score global <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" ng-show="propertyName === 'score'"></i></p></th>
              <th><p ng-click="sortBy('scoreBis')">Score global 2<i class="fas" ng-class="(reverse) ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" ng-show="propertyName === 'scoreBis'"></i></p></th>
              <th><p ng-click="sortBy('in.score')">Score in <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" ng-show="propertyName === 'in.score'"></i></p></th>
              <th><p ng-click="sortBy('out.score')">Score out <small>(max : {{ windows.max | number:4}})</small><i class="fas" ng-class="(reverse) ? 'fa-sort-amount-up' : 'fa-sort-amount-down'" ng-show="propertyName === 'out.score'"></i></p></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in windows.resultFinal | orderBy:propertyName:reverse | limitTo: resultLimit" ng-style="{'font-weight' : t.selected ? 'bold' : 'normal'}">
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary btn-sm" ng-click="addToGraphAnalyze(t)" title="Afficher sur le graphique" ng-if="!t.displayedOnAnalyzeGraph"><i class="far fa-eye"></i></button>
                  <button type="button" class="btn btn-outline-danger btn-sm" ng-click="removeToGraphAnalyze(t)" title="Supprimer du graphique" ng-if="t.displayedOnAnalyzeGraph"><i class="far fa-eye-slash"></i></button>
                  <button type="button" class="btn btn-outline-success btn-sm" ng-click="t.selected = true" ng-if="!t.selected" title="Choisir comme variable conforme aux attentes"><i class="far fa-check-circle"></i></button>
                  <button type="button" class="btn btn-outline-danger btn-sm" ng-click="t.selected = false" ng-if="t.selected" title="Suppripmer de la sélection"><i class="far fa-times-circle"></i></button>
>>>>>>> develop
                </div>
              </td>
              <td ng-style="{ 'color': t.color || 'black' }" ng-click="cons(t)">{{ t.name }}</td>
              <td>{{ t.score | number:6 }}</td> <!-- | number:4-->
              <td>{{ t.scoreBis | number:6 }}</td> <!-- | number:4-->
              <td>{{ t.in.score | number:6 }}</td>
              <td>{{ t.out.score | number:6 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
<<<<<<< HEAD

      <div class="col">
        <div class="figure">
          <img  id="detailImage" ng-if="img.y > 0" src="images/img{{ img.y }}.jpg" class="figure-img img-fluid rounded">
          <figcaption class="figcaption">Image img{{ img.y }}.jpg</figcaption>
        </div>
      </div>

      <div class="col-3">
        <h5>List events</h5>
        <table class="table table-sm">
          <tr ng-repeat="e in eventsList">
            <td>{{ e.name }}</td>
            <!-- <td><span class="badge badge-primary">{{ e.type }}</span></td> -->
            <td>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-success btn-sm" ng-click="addEventToGraph(e)" alt="Tracer les événements sur le graphique"><i class="far fa-eye"></i></button>
                  <button class="btn btn-outline-success btn-sm" ng-click="createMask(e, offset)" alt="Ajouter fenêtres temporelles"><i class="fas fa-flask"></i></button>
                </div>
                <input type="number" class="form-control" ng-model="offset" value="1" min="0">
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div> <!-- / MODE EXPLOIT -->

    <!-- MODE EXPLOIT -->
    <div class="row" ng-show="mode===2">
      <!-- Graph -->
      <div class="col">
        <div id="container"></div>
      </div>
    </div> <!-- / MODE EXPLOIT -->

    <!-- MODE EXPLOIT -->
    <div class="row" ng-show="mode===2">
      <div class="col">
        <h5>Counting</h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th><p ng-click="sortBy('name')">Tag</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'name'"></i></th>
              <th><p ng-click="sortBy('in.score')">IN score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'in.score'"></i></th>
              <th><p ng-click="sortBy('out.score')">OUT score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'out.score'"></i></th>
              <th><p ng-click="sortBy('score')">score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'score'"></i></th>
              <th>Formula</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in windows.resultFinal | orderBy:propertyName:reverse">
              <td>{{ t.name }}</td>
              <td>{{ t.in.score | number:3 }}</td>
              <td>{{ t.out.score | number:3 }}</td>
              <td>{{ t.score | number:4 }}</td>
              <td><p>| 1 - ( {{ t.in.score | number:3 }} * ( 1 - {{ t.out.score | number:3 }} / {{ windows.max | number:3 }} ) ) |</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- / MODE EXPLOIT -->


    <!-- MODE EVENTS -->
    <div class="row" ng-show="mode===3">

      <!-- Image - 1 -->
      <div class="col-2">
        <div class="figure">
          <img src="images/img{{ images[index-1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale"/>
          <!-- <figcaption class="figcaption"><h4>{{ index-1 }} - {{ images[index-1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}</h4></figcaption> -->
        </div>

        <div class="btn-toolbar mb-3" role="toolbar">
          <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(10)"><i class="fas fa-angle-double-left"></i></button>
            <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(1)"><i class="fas fa-angle-left"></i></button>
          </div>
          <input type="number" class="form-control" ng-model="index">
          <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(1)"><i class="fas fa-angle-right"></i></button>
            <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(10)"><i class="fas fa-angle-double-right"></i></button>
          </div>
        </div>

        <div class="figure">
          <img src="images/img{{ images[index+1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale"/>
          <figcaption class="figcaption"><h4>{{ index+1 }} - {{ images[index+1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}</h4></figcaption>
        </div>
      </div>

      <!-- Image -->
      <div class="col-6">
        <div class="row">
          <div class="figure">
            <img src="images/img{{ images[index].img }}.jpg" class="mx-auto figure-img rounded slider img-responsive center-block" /> <!-- img-fluid style="max-height: 350px;" -->
            <figcaption class="figcaption"><h5>{{ index }} - {{ images[index].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }} <small>{{ images[index].img }}</small></h5></figcaption>
          </div>
        </div>

        <!-- List of events for this image -->
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <tr ng-repeat="e in eventsForImge">
                <td>{{ e.EventsList.name }} <small>{{ e.id }}</small></td>
                <td>{{ e.timestamp }}</td>
                <td>{{ e.value }}</td>
                <td><button class="btn btn-danger btn-sm" ng-click="deleteEvent(e.id)"><i class="fas fa-trash"></i></button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- Add event -->
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add event for this image</h5>
            <form>
              <div class="form-group row">
                <label for="eventslist" class="col-sm-3 col-form-label">Events list {{ addEvent.eventslist }}</label>
                <div class="col-sm-9">
                  <select class="form-control" id="chooseEventsList" ng-model="addEvent.eventslist">
                    <option ng-repeat="el in eventsList" value="{{ el.id }}">{{ el.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="value" class="col-sm-3 col-form-label">Value</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="value" ng-model="addEvent.value" ng-disabled="onProgress">
                </div>
              </div>
              <div class="form-group row">
                <label for="timestamp" class="col-sm-3 col-form-label">Timestamp</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="timestamp" ng-model="addEvent.timestamp" ng-disabled="onProgress">
                </div>
              </div>
              <button class="btn btn-primary" ng-click="createEvent(addEvent.eventslist, addEvent)"><i class="fas fa-plus"></i> Add</button>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- / MODE EVENTS -->

  </div><!-- container -->
=======
    </div>
  </div>

  <!--MODE ANALYSE  graphique -->
  <div class="row justify-content-md-center" ng-show="mode===4">
    <div class="col">
      <h5>Graphique</h5>
      <div id="graphAnalyze"></div>
    </div>
  </div>

  <!-- MODE SELECTION -->
  <div class="row justify-content-md-center" ng-show="mode===5">
    <div class="col">
      <h5>Variables sélectionnées</h5>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="t in windows.resultFinal | filter: { selected: true}">{{ t.name }}</li>
      </ul>
    </div>
  </div>


  <!-- MODE EVENTS -->
  <div class="row justify-content-md-center" ng-show="mode===3">
    <div class="col-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(10)"><i class="fas fa-angle-double-left"></i></button>
          <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(1)"><i class="fas fa-angle-left"></i></button>
        </div>
        <input type="number" class="form-control" style="text-align:center;" ng-model="index">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(1)"><i class="fas fa-angle-right"></i></button>
          <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(10)"><i class="fas fa-angle-double-right"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center" ng-show="mode===3">
    <!-- Previous image -->
    <div class="col-3">
      <div class="figure mx-auto">
        <img src="images/img{{ images[index-1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale" alt="{{ images[index-1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}"/>
        <figcaption class="figcaption"><h4>{{ index-1 }}</h4></figcaption>
      </div>
    </div>
    <!-- Image + events -->
    <div class="col">
      <div class="row">
        <div class="figure mx-auto">
          <img src="images/img{{ images[index].img }}.jpg" class="mx-auto figure-img rounded slider img-responsive center-block" alt="{{ images[index].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }} - {{ images[index].img }}"/> <!-- img-fluid style="max-height: 350px;" -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Evénements associés ({{ eventsForImge.length }})</h5>
          <p class="text-warning" ng-show="eventsForImge.length===0">Aucun événement</p>
          <table class="table table-sm" ng-show="eventsForImge.length>0">
            <thead>
              <tr>
                <th>Type</th>
                <th>#</th>
              </tr>
            </thead>
            <tr ng-repeat="e in eventsForImge">
              <td title="ID: {{ e.id }} -- Timestamp: {{ e.timestamp }}">{{ e.EventsList.name }} <small></small></td>
              <td><button class="btn btn-danger btn-sm" ng-click="deleteEvent(e.id)"><i class="fas fa-trash"></i></button></td>
            </tr>
          </table>
        </div>
        <div class="col">
          <h5>Ajouter un événement</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label for="eventslist" class="input-group-text">Type</label>
            </div>
            <select class="form-control" id="chooseEventsList" ng-model="addEvent.eventslist">
              <option ng-repeat="el in eventsList" value="{{ el.id }}">{{ el.name }} [{{el.id}}]</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-primary" ng-click="createEvent(addEvent.eventslist, addEvent)"><i class="fas fa-plus"></i></button>
            </div>
          </div>

          <!-- <div class="form-group row">
          <label for="value" class="col-sm-3 col-form-label">Value</label>
          <div class="col-sm-9">
          <input type="text" class="form-control" id="value" ng-model="addEvent.value" ng-disabled="onProgress">
        </div>
      </div> -->
      <!-- <div class="form-group row">
      <label for="timestamp" class="col-sm-3 col-form-label">Timestamp</label>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="timestamp" ng-model="addEvent.timestamp" ng-disabled="onProgress">
    </div>
  </div> -->
</div>
</div>
</div>
<!-- Next image -->
<div class="col-3">
  <div class="figure mx-auto">
    <img src="images/img{{ images[index+1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale" alt="{{ images[index+1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}"/>
    <figcaption class="figcaption"><h4>{{ index+1 }}</h4></figcaption>
  </div>
</div>
</div>


<div class="row" ng-show="mode===2">
  <div class="col">
    <h5>Résultats</h5>
    <p>Le score dans les fenêtres doit tendre vers 1.</p>
    <p>Le score en dehors des fenêtres doit rendre vers 0.</p>
    <table class="table table-sm">
      <thead>
        <tr>
          <th><p ng-click="sortBy('name')">Variables</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'name'"></i></th>
          <th><p ng-click="sortBy('in.score')">Score dans les fenêtres</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'in.score'"></i></th>
          <th><p ng-click="sortBy('out.score')">Score en dehors des fenêtres</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'out.score'"></i></th>
          <th><p ng-click="sortBy('score')">Score global</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'score'"></i></th>
          <th>Formule</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in windows.resultFinal | orderBy:propertyName:reverse">
          <td>{{ t.name }}</td>
          <td>{{ t.in.score | number:3 }}</td>
          <td>{{ t.out.score | number:3 }}</td>
          <td>{{ t.score | number:4 }}</td>
          <td><samll><p>| 1 - ( {{ t.in.score | number:3 }} * ( 1 - {{ t.out.score | number:3 }} / {{ windows.max | number:3 }} ) ) |</p></small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
>>>>>>> develop
</body>
</html>
