<html>
<head>
  <title>Lab</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/all.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <script src="/js/jquery.js"></script>
  <script src="/js/core.js"></script>
  <script src="/js/bootstrap.min.js"></script>


</head>

<body ng-app="results" ng-controller="ctrl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#"><i class="fas fa-flask"></i> Dev lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-class="{active: mode===4}">
          <a class="nav-link" ng-click="changeMode(4)"><i class="fas fa-images"></i> Résultatssss</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===2}">
          <a class="nav-link" ng-click="changeMode(2)"><i class="fas fa-images"></i> Exploit</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===1}">
          <a class="nav-link" ng-click="changeMode(1)"><i class="fas fa-video"></i> Record</a>
        </li>
        <li class="nav-item" ng-class="{active: mode===3}">
          <a class="nav-link" ng-click="changeMode(3)"><i class="fas fa-map-marker"></i> Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/phpmyadmin/db_structure.php?server=1&db=user1"><i class="fas fa-database"></i> phpMyAdmin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="c()"><i class="fas fa-terminal"></i> console </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="filterWindow()"><i class="fas fa-terminal"></i> filterWindow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="finalScore()"><i class="fas fa-terminal"></i> finalScore</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


<!-- MODE RESULTS -->
<div class="row" ng-show="mode===4">
  <select class="form-control" id="chooseEventsList" ng-model="addEvent.eventslist">
    <option ng-repeat="el in eventsList" value="{{ el.id }}">{{ el.name }}</option>
  </select>



</div>

  <!-- MODE RECORD -->
  <div class="row" ng-show="mode===1">
    <!-- settings -->
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Settings</h5>
          <form>
            <div class="form-group">
              <label for="qty">Snapshot quantity</label>
              <input type="number" class="form-control" id="qty" ng-model="qty" ng-disabled="onProgress">
            </div>
            <div class="form-group">
              <label for="interval">Interval (seconds)</label>
              <input type="number" class="form-control" id="interval" ng-model='interval' ng-disabled="onProgress">
            </div>
            <div class="form-group">
              <label for="duration">Estimate duration (minutes)</label>
              <input type="number" class="form-control-plaintext" id="duration" value="{{ (qty * interval) / 60 | number:1 }}" readonly>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- progression -->
    <div class="col">
      <div class="card w-100" ng-class="{'bg-dark text-white': onProgress}">
        <div class="card-body">
          <h5 class="card-title">Record</h5>
          <p class="card-text" ng-show="onProgress">Last snapshot : <p class="text-monospace" ng-show="onProgress">{{ date }}</p></p>
          <div class="figure" ng-show="onProgress">
            <img src="images/img{{ imageName }}.jpg" class="mx-auto figure-img img-fluid rounded slider" style="max-height: 200px;"/>
            <figcaption class="figcaption"><h5>{{ index+1 }}</h5>Image img{{ imageName }}.jpg</figcaption>
          </div>
          <button type="button" class="btn btn-success" ng-click="start(qty, interval)" ng-disabled="!qty || !interval || qty + interval <= 0"><i class="fas fa-play"></i> start</button>
          <button type="button" class="btn btn-danger" ng-click="stop()" ng-disabled="!onProgress"><i class="fas fa-hand-paper"></i> stop</button>
        </div>
        <div class="card-footer text-muted" ng-show="onProgress">
          <div class="progress">
            <div class="progress-bar progress-bar-striped" ng-class="{'progress-bar-animated': onProgress}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">{{ image }} / {{ qty }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- MODE EXPLOIT -->
  <div class="row" ng-show="mode===2">
    <!-- List of signals -->
    <div class="col-3">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Tag to add <small>({{ searchTag.length || 0 }})</small></th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><input type="text" placeholder="filter" ng-model="searchTag" ng-keyup="validFilter($event)"/></td>
          </tr>
          <tr ng-repeat="t in filteredTags = (tags | filter:searchTag | filter:{ visible: false } | limitTo:5)">
            <td>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, false)"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="add(t, true)" ng-if="!ref"><i class="far fa-star"></i></button>
                <button type="button" class="btn btn-outline-success btn-sm" ng-click="derive(t)"><i class="fas fa-signature"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Tag added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"><input type="text" placeholder="filter" ng-model="searchTagVisible" /></td>
          </tr>
          <tr ng-repeat="t in tags | filter:searchTagVisible | filter:{ visible: true } | limitTo:5">
            <td ng-style="{ 'color': t.color || 'black' }"><i class="fas fa-star" ng-show="t.ref"></i>{{ t.name }} <small>({{ t.qty }} ech.)</small></td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger btn-sm" ng-click="del(t)"><i class="far fa-eye-slash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <div class="figure">
        <img  id="detailImage" ng-if="img.y > 0" src="images/img{{ img.y }}.jpg" class="figure-img img-fluid rounded">
        <figcaption class="figcaption">Image img{{ img.y }}.jpg</figcaption>
      </div>
    </div>

    <div class="col-3">
      <h5>List events</h5>
      <table class="table table-sm">
        <tr ng-repeat="e in eventsList">
          <td>{{ e.name }}</td>
          <!-- <td><span class="badge badge-primary">{{ e.type }}</span></td> -->
          <td>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-success btn-sm" ng-click="addEventToGraph(e)" alt="Tracer les événements sur le graphique"><i class="far fa-eye"></i></button>
                <button class="btn btn-outline-success btn-sm" ng-click="createMask(e, offset)" alt="Ajouter fenêtres temporelles"><i class="fas fa-flask"></i></button>
              </div>
              <input type="number" class="form-control" ng-model="offset" value="1" min="0">
            </div>
          </td>
        </tr>
      </table>

    </div>

  </div>

  <!-- Graph -->
  <div class="row" ng-show="mode===2">

    <!-- Graph -->
    <div class="col">
      <div id="container"></div>
    </div>
  </div>
</div>


<!-- MODE EVENTS -->
<div class="row" ng-show="mode===3">

  <!-- Image - 1 -->
  <div class="col-2">
    <div class="figure">
      <img src="images/img{{ images[index-1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale"/>
      <figcaption class="figcaption"><h4>{{ index-1 }} - {{ images[index-1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}</h4></figcaption>
    </div>

    <div class="btn-toolbar mb-3" role="toolbar">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(10)"><i class="fas fa-angle-double-left"></i></button>
        <button class="btn btn-outline-secondary" type="button" ng-click="imagePrevious(1)"><i class="fas fa-angle-left"></i></button>
      </div>
      <input type="number" class="form-control" ng-model="index">
      <div class="btn-group" role="group">
        <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(1)"><i class="fas fa-angle-right"></i></button>
        <button class="btn btn-outline-secondary" type="button" ng-click="imageNext(10)"><i class="fas fa-angle-double-right"></i></button>
      </div>
    </div>

    <div class="figure">
      <img src="images/img{{ images[index+1].img }}.jpg" class="mx-auto figure-img img-fluid rounded slider grayscale"/>
      <figcaption class="figcaption"><h4>{{ index+1 }} - {{ images[index+1].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }}</h4></figcaption>
    </div>
  </div>

  <!-- Image -->
  <div class="col-6">
    <div class="row">
      <div class="figure">
        <img src="images/img{{ images[index].img }}.jpg" class="mx-auto figure-img rounded slider img-responsive center-block" /> <!-- img-fluid style="max-height: 350px;" -->
        <figcaption class="figcaption"><h5>{{ index }} - {{ images[index].img | amParse:'x' | amDateFormat:'HH:mm:ss.SSS' }} <small>{{ images[index].img }}</small></h5></figcaption>
      </div>
    </div>

    <!-- List of events for this image -->
    <div class="row">
      <div class="col">
        <table class="table table-sm">
          <tr ng-repeat="e in eventsForImge">
            <td>{{ e.EventsList.name }} <small>{{ e.id }}</small></td>
            <td>{{ e.timestamp }}</td>
            <td>{{ e.value }}</td>
            <td><button class="btn btn-danger btn-sm" ng-click="deleteEvent(e.id)"><i class="fas fa-trash"></i></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Add event -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add event for this image</h5>
        <form>
          <div class="form-group row">
            <label for="eventslist" class="col-sm-3 col-form-label">Events list {{ addEvent.eventslist }}</label>
            <div class="col-sm-9">
              <select class="form-control" id="chooseEventsList" ng-model="addEvent.eventslist">
                <option ng-repeat="el in eventsList" value="{{ el.id }}">{{ el.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="value" class="col-sm-3 col-form-label">Value</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="value" ng-model="addEvent.value" ng-disabled="onProgress">
            </div>
          </div>
          <div class="form-group row">
            <label for="timestamp" class="col-sm-3 col-form-label">Timestamp</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="timestamp" ng-model="addEvent.timestamp" ng-disabled="onProgress">
            </div>
          </div>
          <button class="btn btn-primary" ng-click="createEvent(addEvent.eventslist, addEvent)"><i class="fas fa-plus"></i> Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="mode===2">
  <div class="col">
    <h5>Counting</h5>
    <table class="table table-sm">
      <thead>
        <tr>
          <th><p ng-click="sortBy('name')">Tag</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'name'"></i></th>
          <th><p ng-click="sortBy('in.score')">IN score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'in.score'"></i></th>
          <th><p ng-click="sortBy('out.score')">OUT score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'out.score'"></i></th>
          <th><p ng-click="sortBy('score')">score</p> <i class="fas" ng-class="(reverse) ? 'fa-sort-amount-down' : 'fa-sort-amount-up'" ng-show="propertyName === 'score'"></i></th>
          <th>Formula</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in windows.resultFinal | orderBy:propertyName:reverse">
          <td>{{ t.name }}</td>
          <td>{{ t.in.score | number:3 }}</td>
          <td>{{ t.out.score | number:3 }}</td>
          <td>{{ t.score | number:4 }}</td>
          <td><p>| 1 - ( {{ t.in.score | number:3 }} * ( 1 - {{ t.out.score | number:3 }} / {{ windows.max | number:3 }} ) ) |</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>

</div>
</body>
</html>
